#### Read in big_mart data file to a dataframe variable

In [7]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('big_mart.csv')

#### Create a groupby object using Outlet Location Type

In [10]:
df.groupby(['Outlet_Location_Type', 'Outlet_Type']).sum()

                                        Item_Weight  Item_Visibility  \
Outlet_Location_Type Outlet_Type
Tier 1               Grocery Store            0.000        57.257041
                     Supermarket Type1    23979.350       112.781031
Tier 2               Supermarket Type1    35560.630       169.990299
Tier 3               Grocery Store         7166.800        56.308832
                     Supermarket Type1    12121.730        55.879859
                     Supermarket Type2    11946.465        56.621454
                     Supermarket Type3        0.000        54.804764

                                           Item_MRP  \
Outlet_Location_Type Outlet_Type
Tier 1               Grocery Store       73807.5824
                     Supermarket Type1  262590.2296
Tier 2               Supermarket Type1  393150.6416
Tier 3               Grocery Store       78131.5646
                     Supermarket Type1  131809.0156
                     Supermarket Type2  131477.7724
                     Supermarket Type3  130714.6746

                                        Outlet_Establishment_Year  \
Outlet_Location_Type Outlet_Type
Tier 1               Grocery Store                        1048080
                     Supermarket Type1                    3716280
Tier 2               Supermarket Type1                    5582060
Tier 3               Grocery Store                        1108890
                     Supermarket Type1                    1851884
                     Supermarket Type2                    1864352
                     Supermarket Type3                    1855975

                                        Item_Outlet_Sales
Outlet_Location_Type Outlet_Type
Tier 1               Grocery Store           1.796941e+05
                     Supermarket Type1       4.302365e+06
Tier 2               Supermarket Type1       6.472314e+06
Tier 3               Grocery Store           1.883402e+05
                     Supermarket Type1       2.142664e+06
                     Supermarket Type2       1.851823e+06
                     Supermarket Type3       3.453926e+06

#### Find a count of the outlet location types using .count()  What does this resulting dataframe tell us about missing data?

#### Show total sales (Item Outlet Sales) by Outlet Location Type, round your result to 2 decimals

#### Retrieve just the Tier 1 members from your groupby object, you can use the .get_group method and tell it which group you want

#### Find the mean and median of the Sales and Visibility metrics for each Outlet Location Type

#### Find average Item_MRP and average Item_Outlet_Sales by Outlet_Type and Item_Type

#### Let's look at total sales by Item_Type, sort descending so top selling products are listed first

#### What if we wanted to know what % each row makes up of its items total sales?

#### Let's fill the NAs in the 'Item Weight' column. Group by Item_Fat_Content, and Item_Type and find the average weight for those groupings. Each item with a missing weight should be assigned the average weight of the group it belongs to.

#### Using the same Item_Fat_Content and Item_type grouping, filter out any rows where the average item weight for those groups is less than 12